body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: url('home photo.jpg');
    background-size: cover;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

nav p{
    color: red;
    font-family: fantasy;
    font-size: large;
    margin-left: 1%;
    margin-top: 1%;
}
nav ul{
    margin-left: 24%;
    margin-top: 1%;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.content{
    color: white;
    position: absolute;
    margin-left: 19%;
    margin-top: 7%;
}

.content h1{
    color: white;
    font-size: 50px;
}

.links{
    position: absolute;
    margin-top: 42%;
    margin-left: 45%;
}

.links .order{
    padding: 10px 80px;
    text-decoration: none;
    color: rgb(37, 37, 37);
    background-color:#fff;
    border-radius: 100px;
}

